Import Required Libraries

In [3]:

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

Load the Dataset

In [4]:
df = pd.read_csv(r"C:\Users\Lenovo\Desktop\CODSOFT\titanic-survival-predictor\Titanic-Dataset.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
!git init
!git add .
!git commit -m "loaded nessessary libraries and loaded the dataset"
!git push -u origin main

Reinitialized existing Git repository in C:/Users/Lenovo/Desktop/CODSOFT/titanic-survival-predictor/.git/
[main 02c74e9] loaded nessessary libraries and loaded the dataset
 1 file changed, 41 insertions(+)
 create mode 100644 model.ipynb
branch 'main' set up to track 'origin/main'.

To https://github.com/SUSH9391/CODSOFT.git
   339faff..02c74e9  main -> main

A vital part in datascience is to understand the data and its features.
Understand the Dataset.

In [6]:
df.info()
df.describe()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
!git add .
!git commit -m "understand the dataset"
!git push -u origin main

[main aea8b9d] understand the dataset
 1 file changed, 313 insertions(+), 1 deletion(-)
branch 'main' set up to track 'origin/main'.

To https://github.com/SUSH9391/CODSOFT.git
   02c74e9..aea8b9d  main -> main

cleaning the dataset is also known as data preprocessing. It involves handling missing values, removing duplicates, and transforming data into a suitable format for analysis or modeling.